[access "refs/*"]
    read = group rdopkg-core
    owner = group rdopkg-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdopkg-core
    label-Code-Review = -2..+2 group rdopkg-ptl
    label-Verified = -2..+2 group rdopkg-ptl
    label-Workflow = -1..+1 group rdopkg-core
    label-Workflow = -1..+1 group rdopkg-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group rdopkg-ptl
    read = group Registered Users
    read = group rdopkg-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdopkg-core
[access "refs/tags/*"]
    read = group Registered Users
    read = group rdopkg-core
    push = group rdopkg-ptl
    forgeCommitter = group rdopkg-ptl
	createSignedTag = group rdopkg-ptl
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
	action = rebase if necessary
[project]
        description = rdopkg - RPM packaging automation tool
