blessings
# `rdopkg info` is slow with older distroinfo
distroinfo>=0.3.0
munch
pbr>=0.5.6
PyYAML
# pyOpenSSL==0.15.1 results in
# AttributeError: 'module' object has no attribute 'SSL_ST_INIT'
pyOpenSSL>=16.2.0
pymod2pkg
requests
six
# asciidoc for docs/sdist
