# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
argparse>=0.8.10 # MIT
iso8601>=1.7.0 # MIT
prettytable>=2.1 # BSD/Apache-2.0
SQLAlchemy!=1.1.8,>=1.0.10 # MIT
tooz>=1.28.0 # Apache-2.0
