---
- hosts: all
  vars:
    working_dir: '{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/..'
  tasks:
    - name: Install tox
      pip:
        name: tox
        state: present

    - name: Prepare virtualenv to test DLRN master
      shell:
        cmd: |
          tox -e py36 --notest
        chdir: "{{ working_dir }}/DLRN"

    - name: Inject rdopkg into DLRN master virtualenv
      shell:
        cmd: |
          . ../DLRN/.tox/py36/bin/activate
          python setup.py install
        chdir: "{{ working_dir }}/rdopkg"

    - name: Run DLRN master tests with rdopkg
      shell:
        cmd: |
          PYTHON_VERSION=py36 timeout --signal=SIGKILL 3600 ./scripts/run_tests.sh http://review.rdoproject.org/r/rdoinfo.git centos8 https://trunk.rdoproject.org/centos8-master/
        chdir: "{{ working_dir }}/DLRN"

    - name: Copy DLRN logs for collection
      shell:
        cmd: |
          cp -r DLRN/logs rdopkg/logs
        chdir: "{{ working_dir }}"
